@defer (on viewport) {
<div class="row">
    <app-banner subtitle="Servicios" title="Desarrollo de Software" img="banner-software-development.png">
    </app-banner>

</div>
<div class="row container">
    <div class="col-xl-12 banner-1">
        <app-card-banner img="../../assets/images/cards/card8.png"
            [divider]="true"
            [description]="[{text:'Ofrecemos Ingenieros de Software ', style: ''},
            {text:'con capacidades de dominio en desarrollo de software en diferentes entornos, ', style: 'blod'},
            {text:'lenguajes de programación y arquitecturas empresariales con diferentes patrones, paradigmas y esquemas cloud. ', style: ''},
            {text:'', style: ''},
            {text:'Con una visión clara centrados en el usuario final, enfáticos en la calidad desde la base hasta la cúspide de la pirámide, ', style: ''},
            {text:'primando la seguridad y experiencia de usuario, ', style:'blod'},
            {text:'ofreciendo eficacia con alternativas que permitan ser rápidos sin sacrificar las entregas de valor.', style:''}]">
        </app-card-banner>
    </div>
</div>
<div class="row container">
    <div class="col-xl-12 title-2">
        <h3>Equipos con toda la capacidad y experiencia para resolver retos en:</h3>
    </div>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
@defer (on viewport) {
<div class="row container">
    <div class="col-xl-6 col-sm-12">
        <app-card-simple icon="../../assets/images/logo-blue.svg" title="Desarrollo web"
            description="Diseña, desarrolla, optimiza y actualiza aplicaciones web con usabilidad óptima, veloces, accesibles, interactivas y escalables que ofrezcan experiencias digitales placenteras y sin fricciones."
            [backgroundImage]="false"></app-card-simple>
    </div>
    <div class="col-xl-6 col-sm-12">
        <app-card-simple icon="../../assets/images/logo-blue.svg" title="Desarrollo app"
            description="Impulsa procesos de desarrollo con orientación móvil, desde las etapas de ideación, desarrollo, despliegue y medición de la solución asegurando aplicaciones móviles modulares y escalables desde frentes de desarrollo nativo, crossplatform e híbrido."
            [backgroundImage]="false"></app-card-simple>
    </div>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
@defer (on viewport) {
<div class="row">
    <div class="container">
        <h4>Tus soluciones en las tecnologías y partners líderes del mercado.</h4>
    </div>
</div>
<div class="row container" id="lenguajes">
    <app-swiper [images]="images" [maxImages]="5"></app-swiper>
</div>
<div class="row">
    <div class="container">
        <h4>Conoce los roles con los que impulsamos tus activos digitales</h4>
    </div>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
@defer (on viewport) {
<div class="row container">
    <div class="col-xl-6 col-sm-12 card">
        <app-card-info img="../../assets/images/cards/card9.png"
        title="Desarrollo de software"
        subtitle="Desarrollador Fullstack"
        [description]="[{text:'Eleva tu presencia digital junto a nuestro ', style: ''},
            {text:'experimentado equipo de Desarrollo Fullstack. ', style: 'blod'},
            {text:'Diseñamos y construimos tanto la arquitectura robusta del Backend como la interfaz atractiva del Frontend, garantizando un ', style:''},
            {text:' rendimiento eficaz y una experiencia de usuario excepcional ', style:'blod'},
            {text:'en todas las capas de tu aplicación.', style:''}]"
            ></app-card-info>
    </div>
    <div class="col-xl-6 col-sm-12 card">
        <app-card-info img="../../assets/images/cards/card10.png"
        title="Liderazgo"
        subtitle="Líder de equipo"
        [description]="[{text:'Forme parte del éxito desde el principio. Nuestro equipo de Liderazgo ', style: ''},
            {text:'supervisa y guía cada proyecto, ', style: 'blod'},
            {text:'asegurando que se cumplan los plazos y se ', style:''},
            {text:'superen las expectativas. ', style:'blod'}]"
            ></app-card-info>
    </div>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
@defer (on viewport) {
<div class="row container">
    <div class="col-xl-6 col-sm-12 card">
        <app-card-info img="../../assets/images/cards/card11.png"
        title="DevSecOps"
        subtitle="Ingeniero DevSecOps"
        [description]="[{text:' La seguridad ', style: ''},
            {text:'es nuestra prioridad. ', style: 'blod'},
            {text:'Con nuestro enfoque integral de Ingeniería DevSecOps, garantizamos que su aplicación ', style:''},
            {text:'esté protegida ', style:'blod'},
            {text:'desde el desarrollo hasta la implementación.', style:''}]"
            ></app-card-info>
    </div>
    <div class="col-xl-6 col-sm-12 card">
        <app-card-info img="../../assets/images/cards/card12.png"
        title="Calidad de software"
        subtitle="Analista de calidad de software"
        [description]="[{text:'Ofrecemos servicios de Análisis de Calidad de Software para ', style: ''},
            {text:'garantizar que su aplicación funcione sin problemas ', style: 'blod'},
            {text:' y cumpla con las expectativas.', style:''}]"
            ></app-card-info>
    </div>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
@defer (on viewport) {
<div class="row container">
    <div class="col-xl-6 col-sm-12 card">
        <app-card-info img="../../assets/images/cards/card13.png"
        title="Desarrollo mobile"
        subtitle="Desarrollador mobile"
        [description]="[{text:'Haz que tu marca esté ', style: ''},
            {text:'al alcance de todos ', style: 'blod'},
            {text:'con nuestras soluciones de Desarrollo Mobile. Creamos aplicaciones ', style:''},
            {text:'atractivas y funcionales ', style:'blod'},
            {text:'para dispositivos Android e iOS.', style:''}]"
            ></app-card-info>
    </div>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}