.title-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 26px 0 46px;
    h3{
        max-width: 916px;
    }
}
.container{
    margin: 60px 10%;
    .card{
        height: 423px;
    }
    
}
@media screen and (max-width: 800px) {
    .container{
        margin: 0;
        .cards{
            width: 100%;
        }
    }
    .title-2{
        h3{
            font-size: 48px;
        }
    }
 }

 @media screen and (max-width: 1500px) {
    .container{
        margin: 0;
        .cards{
            height: 500px;
        }
    }
 }