<div class="row">
    <app-card-banner img="../../assets/images/img17.png"
    [divider]="true"
    [description]="[{text:'Ofrecemos Ingenieros de Software para integrarse a equipos de automatización de pruebas en ciclos de Continuos Testing. ', style: ''},
      {text:'Especializados en pruebas funcionales y no funcionales,  ', style: 'blod'},
      {text:'destacan en pruebas unitarias, integración, UI, E2E, performance y seguridad. Su experiencia en desarrollo de software garantiza ', style: ''},
      {text:'soluciones efectivas para mejorar la calidad y eficiencia de tus proyectos. ', style: 'blod'}
      ]"
      class="col-xl-12 col-sm-12">
  
  </app-card-banner>
</div>
<div class="row title-2">
    <h3>Equipos con toda la capacidad y experiencia para resolver retos en:</h3>
</div>
<div class="row container">
    <div class="col-xl-4 col-sm-12 col-md-6 card">
        <app-card-simple icon="../../assets/images/logo-blue.svg"
         title="Automatización Integral"
            description="Nuestra filosofía de trabajo abarca una automatización de pruebas integral. Desde pruebas unitarias hasta pruebas de rendimiento y seguridad, nuestro enfoque holístico garantiza la detección temprana de problemas y la mejora constante de la calidad del software."
            [backgroundImage]="false"></app-card-simple>
    </div>
    <div class="col-xl-4 col-sm-12 col-md-6 card">
        <app-card-simple icon="../../assets/images/logo-blue.svg"
         title="Integración Continua"
            description="Adoptamos y fomentamos prácticas de Integración Continua que permiten una entrega más rápida y confiable de proyectos. Nuestra dedicación a la integración continua asegura una colaboración sin fisuras entre desarrollo y pruebas."
            [backgroundImage]="false"></app-card-simple>
    </div>
    <div class="col-xl-4 col-sm-12 col-md-6 card">
        <app-card-simple icon="../../assets/images/logo-blue.svg"
         title="Desarrollo Eficiente"
            description="Nuestros equipos especializados en Automatización de Pruebas Continuas están comprometidos a agilizar y optimizar cada fase del desarrollo de software. Implementamos metodologías probadas para garantizar la eficiencia y la entrega oportuna de proyectos."
            [backgroundImage]="false"></app-card-simple>
    </div>
</div>
<div class="row container">
    <div class="col-xl-6 col-sm-12">
        <app-card-info img="../../assets/images/img18.png"
        title="Arquitectos de Pruebas Continuas"
        subtitle="Arquitectos de Pruebas Continuas"
        [description]="[{text:'Los arquitectos de pruebas continuas diseñan estrategias integrales para maximizar la efectividad de las pruebas a lo largo del ciclo de vida del desarrollo. Su visión garantiza una implementación fluida de pruebas continuas, optimizando tus procesos de entrega.', style: ''},
           ]"
            ></app-card-info>
    </div>
    <div class="col-xl-6 col-sm-12">
        <app-card-info img="../../assets/images/img19.png"
        title="Integración Continua"
        subtitle="Expertos en Integración Continua"
        [description]="[{text:'Nuestros expertos en integración continua implementan y mantienen entornos de integración, acelerando la entrega de software. Su enfoque garantiza una integración suave y constante, permitiendo la detección temprana de problemas y la mejora continua.', style: ''}]"
            ></app-card-info>
    </div>
</div>
<div class="row container">
    <div class="col-xl-6 col-sm-12">
        <app-card-info img="../../assets/images/img16.png"
        title="Ingenieros de Infraestructura"
        subtitle="Ingenieros de Infraestructura"
        [description]="[{text:'Los ingenieros de infraestructura diseñan y mantienen entornos necesarios para ejecutar pruebas continuas. Su experiencia abarca desde la implementación de contenedores hasta el uso de orquestadores, garantizando una infraestructura sólida y escalable.', style: ''}]"
            ></app-card-info>
    </div>
</div>