@import '../../../settings/settings.scss';
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5%;
}
.logo{
    min-width: 170px;
    max-width: 290px;
    img{
        width: 100%;
    }
}
.links a{
    position: relative;
    padding: 20px 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: $titillium-font;
}

.btn-contact{
    background:$blue-4;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-family: $heebo-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 7px 22px;
}

.menu-mobile{
    display: none;
    
    .btn-menu{
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .mat-mdc-menu-content{
       background:$blue-2 !important;
    }
    
}

.active{
    font-weight: 900;
}

.mat-mdc-menu-item-text:hover{
    font-weight: 600 !important;
}

.router-link-active{
   font-weight: 900 !important;
}

::ng-deep .mat-menu-panel {
    padding: 50px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(0.8);
  }
  
  ::ng-deep .mat-menu-panel.mat-menu-open {
    opacity: 1;
    transform: scale(1);
  }


@media only screen and (max-width: 767px) {
    .menu-mobile{
        display: flex;
    }
    .links{
        display: none;
    }

    .logo{
        min-width: 170px;
        max-width: 290px;
        img{
            min-width: 125px;
            max-width: 250px;
        }
    }

}

@media only screen and (max-width: 900px)  {
    
    .logo{
        min-width: 170px;
        max-width: 290px;
        img{
            min-width: 125px;
            max-width: 150px;
        }
    }

    .links a{
        padding: 10px 10px;
    }
}

