@import '../../../settings/settings.scss';
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5%;
}
.logo{
    min-width: 170px;
    max-width: 290px;
    img{
        width: 100%;
    }
}
.links a{
    position: relative;
    padding: 20px 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: $titillium-font;
}

.btn-contact{
    background:$blue-4;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-family: $heebo-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 7px 22px;
}