@import "../../../settings/colors.scss";

swiper-container::part(button-prev) {
    background-color: blue;
    position: absolute;
    z-index: 1000000;
  }

  swiper-container::part(wrapper) {
    align-content: center;
  }
  .swiperCarrusel{
    height: 100%;
    swiper-slide{
      align-content: center;
      img {
          display: block;
          margin: auto;
          min-height: 27px;
        }
      
    } 
  }

  section{
    position: relative;
    height: 150px;
    .contain{
      height: 100%;
      width: 90%;
      margin: auto;
    }
    button{
      position: absolute;
      z-index: 10;
      border-radius: 53px;
      border: none;
      height: 60px;
      width: 60px;
      background-color: $gray-2;
      cursor: pointer;
    }
    .back{
      left: 0;
      top: calc(50% - 30px);
    }
    .next{
      right: 0;
      top: calc(50% - 30px);
    }
  }
