<section>
    <button (click)="back()" class="back"><img src="../../../assets/icons/back.svg" alt=""></button>
    <div class="contain">
        <swiper-container css-mode="true" speed="500" loop="true" navigation="false"  class="swiperCarrusel" 
             init="false" #swiper>
             @for (image of images; track $index) {
                 <swiper-slide>
                     <img [src]="image" alt="">
                 </swiper-slide> 
             }
        </swiper-container>
    </div>
    <button (click)="next()" class="next"><img src="../../../assets/icons/next.svg" alt=""></button>
</section>
  