@import '../../../settings/settings.scss';
@import '../../../settings/colors.scss';

.container-img{
    display: flex;
    justify-content: center;
    img{
        width: 50px;
        height: 46px;
    };
    margin-bottom: 20px;
    margin-top: 20px;

}
.btn-next {
    box-sizing: border-box;
    font-size: 22px;
    font-weight: 600;
    font-family: $titillium-font;
    height: 60px;
    padding: 30px;
    border-radius: 32px;
    background: #0090BB;
    width: 100%;
}

.title {
    font-size:24px;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin: 0;
    text-align:center;
    color: $gray-6;
}

.content {
    font-size: 22px;
    font-family: $titillium-font;
    text-align:center;
    font-weight: 300;
}
