@import '../../../settings/settings.scss';

.container-img{
    display: flex;
    justify-content: center;
    img{
        width: 60px;
    }
}
.btn-next {
    box-sizing: border-box;
    font-size: 22px;
    font-weight: 600;
    font-family: $titillium-font;
    height: 60px;
    padding: 30px;
    border-radius: 32px;
    background: $blue-2 !important;
    width: 100%;
}

.title {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.5px;
    margin: 0;
    text-align: center;
    color: #0091BC;
}

.content {
    font-size: 20px;
    font-family: $titillium-font;
    margin: 0 0 20px;
}
