<div class="row">
    <app-card-banner img="../../assets/images/img29.png"
    [divider]="true"
    [description]="[{text:'Sumérgete en el mundo transformador de la Ingeniería de Datos con ', style: ''},
      {text:'T-Evolvers. ', style: 'blod'},
      {text:'Desatamos el poder de tus datos para revelar insights estratégicos y desencadenar ', style: ''},
      {text:'el potencial oculto de tu empresa. ', style: 'blod'},
      {text:'Nuestros ingenieros de datos son arquitectos de soluciones inteligentes, llevando tu información a nuevas alturas. Descubre cómo la Ingeniería de Datos puede ser la llave maestra ', style: ''},
      {text:'para la innovación y el éxito empresarial. ', style:'blod'},
      {text:'Con nosotros, cada dato es una oportunidad única de crecimiento.',style:''}]"
      class="col-xl-12 col-sm-12">
  
  </app-card-banner>
</div>
<div class="row">
    <h3>Equipos con toda la capacidad y experiencia para resolver retos en:</h3>
</div>
<div class="row">
    <div class="col-xl-6 col-sm-12 col-md-6">
        <app-card-simple icon="../../assets/images/logo-blue.svg"
         title="Ingeniería de Datos"
            description="Experiencia en la construcción y mantenimiento de arquitecturas de almacenamiento de datos. Conocimiento profundo de tecnologías de bases de datos, como SQL y NoSQL. Habilidad para diseñar y mantener pipelines de datos eficientes y escalables."
            [backgroundImage]="false"></app-card-simple>
    </div>
    <div class="col-xl-6 col-sm-12 col-md-6">
        <app-card-simple icon="../../assets/images/logo-blue.svg"
         title="Ciencia de Datos"
            description="Competencia en el análisis de datos y la generación de información valiosa a partir de conjuntos de datos complejos. Experiencia en la implementación de algoritmos y modelos de aprendizaje automático para el análisis predictivo."
            [backgroundImage]="false"></app-card-simple>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-sm-12 col-md-6">
        <app-card-simple icon="../../assets/images/logo-blue.svg"
         title="Arquitecto de datos"
            description="Capacidad para diseñar arquitecturas escalables y flexibles que cumplan con los requisitos del negocio. Experiencia en la selección y configuración de herramientas y tecnologías adecuadas para cada proyecto."
            [backgroundImage]="false"></app-card-simple>
    </div>
    <div class="col-xl-6 col-sm-12 col-md-6">
        <app-card-simple icon="../../assets/images/logo-blue.svg"
         title="Big Data"
            description="Familiaridad con tecnologías de Big Data como Hadoop, Spark, y sistemas de procesamiento en tiempo real como Apache Flink. Habilidad para gestionar grandes volúmenes de datos y optimizar consultas."
            [backgroundImage]="false"></app-card-simple>
    </div>

</div>

<div class="row">
    <div class="col-xl-6 col-sm-12">
        <app-card-info img="../../assets/images/img30.png"
        title="Ciencia de Datos"
        subtitle="Científico de Datos"
        [description]="[{text:'Nuestros científicos de datos son exploradores modernos en el vasto territorio de tus datos. Utilizando técnicas avanzadas de análisis y modelado predictivo, desentrañan patrones y tendencias que podrían pasar desapercibidos.', style: ''},
           ]"
            ></app-card-info>
    </div>
    <div class="col-xl-6 col-sm-12">
        <app-card-info img="../../assets/images/img31.png"
        title="Analista de Negocio"
        subtitle="Analista de Negocio"
        [description]="[{text:'Nuestros analistas de negocio son traductores expertos entre tus metas empresariales y los requisitos técnicos. Trabajan de la mano contigo para comprender a fondo tus objetivos y asegurarse de que cada solución de datos no solo sea técnica, sino también directamente relevante para tu estrategia empresarial.', style: ''}]"
            ></app-card-info>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-sm-12">
        <app-card-info img="../../assets/images/img32.png"
        title="Calidad de Datos"
        subtitle="Experto en Calidad de Datos"
        [description]="[{text:'Nuestros expertos en calidad de datos son guardianes de la confiabilidad de la información. Desde la implementación de estándares rigurosos hasta la ejecución de procedimientos de limpieza exhaustivos, su objetivo es garantizar que la información que alimenta tus decisiones sea precisa y confiable.', style: ''}]"
            ></app-card-info>
    </div>
    <div class="col-xl-6 col-sm-12">
        <app-card-info img="../../assets/images/img33.png"
        title="Arquitecto de Datos"
        subtitle="Arquitecto de Datos"
        [description]="[{text:'Nuestros arquitectos de datos lideran la creación de una columna vertebral digital sólida y estratégica para tu empresa. Diseñan arquitecturas que no solo almacenan datos, sino que también optimizan la accesibilidad, escalabilidad y flexibilidad.', style: ''}]"
            ></app-card-info>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-sm-12">
        <app-card-info img="../../assets/images/img34.png"
        title="Ingeniero de Datos"
        subtitle="Ingeniero de Datos"
        [description]="[{text:'Nuestros ingenieros de datos son artesanos de la información. Construyen pipelines de datos que no solo aseguran la eficiencia en la adquisición, transformación y carga, sino que también garantizan la calidad y consistencia de los datos resultantes.', style: ''}]"
            ></app-card-info>
    </div>
</div>