@import './../../../settings/settings.scss';
.row{
    justify-content: center;
  }
.title-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    h3{
        max-width: 916px;
    }
}
.container{
    margin: 60px 87px;
    .cards-1{
        height: 615px;
    }
    .cards-2{
        height: 610px;
    }
}

.clients-content{
    min-width: 80%;
    max-width: 90%;
    margin: 0 auto 80px;
}

.clients-title{
    width: 70%;
    margin: 0 auto;
    h2{
        text-align: center;
        color: $blue-1;
        font-size: 52px;
        font-weight: 400;
    }
    span{
        font-weight: 700;
    }
}



@media screen and (max-width: 1000px) {
    .container{
     margin: 0;
     .card{
        height: 390px;
        }
        .cards{
            width: 100%;
        }
    .cards-1{
        height: 100%;
    }
    .cards-2{
        height: auto;
    }
    }
    .title-2{
        h3{
            font-size: 48px;
        }
    }
    .clients-title{
        h2{
            font-size: 32px;
        }
    }
 }
 @media screen and (min-width: 1500px) {
    .row{
        display: flex;
        justify-content: center;
        margin: 30px 5%;
    }
    
}