@import './../../../settings/colors.scss';
@import './../../../settings/fonts.scss';

.container {
    width: 100%;
    height: 546px;
    display: flex;

}

.container2 {
    height: 344px;
}

.content2 {
    background: $blue-2 !important;

    .title {
        font-size: 55px;
    }
}

.content {
    background: $blue-1;
    color: #fff;
    width: 50%;
    display: flex;
    justify-content: center;

    .info-content {
        min-width: 70%;
        max-width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.img-content {

    width: 50%;
    height: 100%;
    box-sizing: border-box;

    img {
        width: 100%;
        height: 100%;
    }

    border-bottom: 15px solid $blue-4;
}

.description {
    color: rgba($color: #FFF, $alpha: 0.3);
    font-size: 30px;
    font-family: $titillium-font;
    font-weight: 400;
}

.description:hover {
    color: rgba($color: #FFF, $alpha: 1);

}

.action {
    padding: 7% 0;
}

.action-button {
    font-family: $titillium-font;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    border-radius: 30px;
    background: $blue-2 !important;
    height: 60px;
}

.action-button2 {
    font-family: $titillium-font;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    border-radius: 30px;
    background: $blue-1 !important;
    height: 60px;

}

.img-content2 {
    border-bottom: 15px solid $blue-1;
}

.subtitle {
    font-family: $titillium-font;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    margin-bottom: 0;
}