<footer>
    <div class="networks">
        <img src="../../../assets/icons/logo.svg" alt="">
        <div class="links">
            <img src="../../../assets/icons/linkedin.svg" alt="">
            <img src="../../../assets/icons/instagram.svg" alt="">
            <img src="../../../assets/icons/facebook.svg" alt="">
            <img src="../../../assets/icons/youtube.svg" alt="">
        </div>
    </div>
    <div class="footer-menu row">
        <app-text-container class="col-xl-5 col-sm-12" [description]= "[{text: 'Transformamos ideas en innovación: ', style: ''},
        {text: 'T-Evolvers, ', style: 'blod'},
        {text: 'el futuro tecnológico ', style:''},
        {text: 'a tu alcance.', style:'blod'}]"
        classStyle="footer-text"></app-text-container>
       <div class="col-xl-7 col-sm-12">
            <div class="row">
                <div class="services link col-xl-2 col-sm-12">
                    <h4>Servicios</h4>
                    <ul>
                        <li>Desarrollo de Software</li>
                        <li>Dev SecOps</li>
                        <li>IOT</li>
                        <li>Automatización</li>
                    </ul>
                </div>
                <div class="links link col-xl-2 col-sm-12">
                    <h4>Links</h4>
                    <ul>
                        <li>Quienes somos</li>
                        <li>Nuestros Clientes</li>
                        <li>Empleos</li>
                        <li>Contáctenos</li>
                    </ul>
                </div>
                <div class="contact link col-xl-2 col-sm-12">
                    <h4>Contacto</h4>
                    <ul>
                        <li>Medellín, Colombia</li>
                        <li>info&#64;t-evolvers.com</li>
                        <li>Derechos reservados</li>
                        <li>© T-Evolvers</li>
                    </ul>
                </div>
            </div>
       </div>
    </div>
</footer>