<footer>
    <div class="networks">
        <img src="../../../assets/icons/logo.svg" alt="">
        <div class="links">
            <a href="https://www.linkedin.com/company/t-evolvers/" target="_blank"><img src="../../../assets/icons/linkedin.svg" alt="" ></a>
            <a href="https://www.instagram.com/tevolverssas/" target="_blank"><img src="../../../assets/icons/instagram.svg" alt=""></a>
            <a href="https://www.facebook.com/tevolvers.dev" target="_blank"><img src="../../../assets/icons/facebook.svg" alt=""></a>
            <a href="https://www.youtube.com/@comunidadt-evolvers9392" target="_blank"><img src="../../../assets/icons/youtube.svg" alt=""></a>
        </div>
    </div>
    <div class="footer-menu row">
        <app-text-container class="col-xl-5 col-sm-12" [description]= "[{text: 'Transformamos ideas en innovación: ', style: 'blod'},
        {text: '', style: ''},
        {text: 'T-Evolvers, ', style: 'blod'},
        {text: 'el futuro tecnológico ', style:''},
        {text: 'a tu alcance.', style:'blod'}]"
        classStyle="footer-text"></app-text-container>
       <div class="col-xl-7 col-sm-12 col-md-12">
            <div class="row">
                <div class="services link col-xl-4 col-sm-12 col-md-4">
                    <h4>Servicios</h4>
                    <ul>
                        <li><a [routerLink]="['services/software']" routerLinkActive="router-link-active">Desarrollo de Software</a></li>
                        <li><a [routerLink]="['services/devops']" routerLinkActive="router-link-active">Dev SecOps</a></li>
                        <li><a [routerLink]="['services/iot']" routerLinkActive="router-link-active">IOT</a></li>
                        <li><a [routerLink]="['services/automation']" routerLinkActive="router-link-active">Automatización</a></li>
                    </ul>
                </div>
                <div class="links link col-xl-4 col-sm-12 col-md-4">
                    <h4>Links</h4>
                    <ul>
                        <li><a [routerLink]="['home']"  fragment="we">Quienes somos</a></li>
                        <li><a [routerLink]="['home']" fragment="clientes">Nuestros Clientes</a></li>
                        <li><a [routerLink]="['/jobs']">Empleos</a></li>
                        <li><a [routerLink]="[url]" fragment="contactanos">Contáctenos</a></li>
                    </ul>
                </div>
                <div class="contact link col-xl-4 col-sm-12 col-md-4">
                    <h4>Contacto</h4>
                    <ul>
                        <li>Medellín, Colombia</li>
                        <li>info&#64;t-evolvers.com</li>
                        <li>Derechos reservados</li>
                        <li>© T-Evolvers</li>
                    </ul>
                </div>
            </div>
       </div>
    </div>
</footer>