@defer (on viewport) {
<div class="row">
    <app-banner subtitle="Servicios" title="IOT Internet Of Things" img="banner-iot.png">
    </app-banner>

</div>
<div class="row container">
    <div class="col-xl-12">
        <app-card-banner img="../../assets/images/cards/card20.png"
        [divider]="true"
        [description]="[{text:'Transforma tu mundo con la revolucionaria tecnología del Internet de las Cosas (IoT)! En un paisaje empresarial ', style: ''},
          {text:'cada vez más dinámico, ', style: 'blod'},
          {text:'la capacidad de tomar decisiones informadas y acceder a información ', style: ''},
          {text:'en tiempo real ', style: 'blod'},
          {text:'es clave para el éxito. Es aquí donde el Internet de las Cosas se erige como el catalizador de la transformación digital que tu empresa necesita. Imagina un entorno donde tus dispositivos, sistemas y datos se ', style: ''},
          {text:'conectan de manera inteligente, ', style:'blod'},
          {text:'proporcionándote un control sin precedentes sobre tus operaciones. Con nuestros servicios de IoT.',style:''}]">
      
      </app-card-banner>
    </div>
</div>
<div class="row container title-2">
    <h3>Equipos con toda la capacidad y experiencia para resolver retos en:</h3>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
@defer (on viewport) {
<div class="row container">
    <div class="col-xl-4 col-sm-12 col-md-6 cards">
        <app-card-simple icon="../../assets/images/logo-blue.svg" title="Desarrollo de Hardware Especializado"
            description="Diseñamos y desarrollamos hardware a medida para tus dispositivos IoT, asegurando un rendimiento óptimo y una integración perfecta con tu infraestructura existente."
            [backgroundImage]="false"></app-card-simple>
    </div>
    <div class="col-xl-4 col-sm-12 col-md-6 cards">
        <app-card-simple icon="../../assets/images/logo-blue.svg" title="Plataformas de Software Robustas"
            description="Creamos plataformas de software personalizadas que permiten la recopilación, procesamiento y análisis eficiente de datos IoT. Nuestras soluciones garantizan la escalabilidad y la seguridad de extremo a extremo."
            [backgroundImage]="false"></app-card-simple>
    </div>
    <div class="col-xl-4 col-sm-12 col-md-6 cards">
        <app-card-simple icon="../../assets/images/logo-blue.svg" title="Integración de Plataformas"
            description="Integramos tus sistemas IoT con otras plataformas empresariales, garantizando una interoperabilidad fluida y permitiendo que tus datos se compartan eficientemente entre diferentes sistemas."
            [backgroundImage]="false"></app-card-simple>
    </div>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
@defer (on viewport) {
<div class="row title-3">
    <h4>Maximiza tus Activos Digitales con Nuestros Expertos</h4>
</div>
<div class="row container">
    <div class="col-xl-6 col-sm-12 col-md-6 col-xxl-4 card">
        <app-card-info img="../../assets/images/cards/card21.png"
        title="Expertos en Conectividad"
        subtitle="Expertos en Conectividad"
        [description]="[{text:'Implementamos soluciones de conectividad avanzadas, seleccionando protocolos y tecnologías que garanticen una transmisión de datos rápida y confiable. Optimizamos la infraestructura de red para adaptarse a las demandas cambiantes de tu ecosistema IoT.', style: ''},
           ]"
            ></app-card-info>
    </div>
    <div class="col-xl-6 col-sm-12 col-md-6 col-xxl-4 card">
        <app-card-info img="../../assets/images/cards/card22.png"
        title="Gerencia de Proyecto IoT"
        subtitle="Gerencia de Proyecto IoT"
        [description]="[{text:'Coordinamos y supervisamos todas las fases del proyecto, desde la planificación hasta la implementación y el mantenimiento continuo. Garantizamos que los plazos y presupuestos se cumplan, y que tus objetivos empresariales se alcancen de manera efectiva.', style: ''}]"
            ></app-card-info>
    </div>
    <div class="col-xl-6 col-sm-12 col-md-6 col-xxl-4 card">
        <app-card-info img="../../assets/images/cards/card23.png"
        title="Arquitectura de Soluciones IoT"
        subtitle="Arquitectura de Soluciones IoT"
        [description]="[{text:'Diseñamos arquitecturas robustas que garantizan la escalabilidad y la eficiencia de tus sistemas IoT. Desarrollamos planes estratégicos para la implementación y la integración de dispositivos, plataformas y redes.', style: ''}]"
            ></app-card-info>
    </div>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}