.container{
    margin: 10px 12%;
    .cards{
        height: 393px;
    }
}

.title-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    h3{
        max-width: 916px;
    }
}

@media screen and (max-width: 800px) {
   .container{
    margin: 0;
    .card{
        width: 100%;
    }
   }
   .title-2{
    h3{
        font-size: 48px;
    }
   }
}