h2{
    text-align: center;
}
.row{
    app-card-banner{
        margin: 30px 0 60px;
    }
    
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            max-width: 916px;
        }
        img{
            width: 104px;
            height: 138px;
        }
    }
}
.container{
    margin: 33px 5%;
    .card{
        height: 478px;
        margin: 30px 0;
    }
    .card-1{
        height: 541px;
        margin: 30px 0;
    }
}
@media screen and (max-width: 1200px) {
    .container{
        .card{
            height: 100%;
            width: 100%;
            margin: 0;
        }
        .card-1{
            height: 100%;
            width: 100%;
            margin: 0;
        }
    }
   .row{
    .title{
        text-align: center;
        h3{
            max-width: 100%;
            font-size: 36px;
        }
        img{
            width: 68px;
            height: 90px;
        }
    }
   }
 }

 @media screen and (max-width: 600px) {
    .container{
        margin: 0;
    }
    .row{
        .title{
            text-align: center;
            h3{
                max-width: 100%;
                font-size: 36px;
            }
            img{
                width: 68px;
                height: 90px;
            }
        }
       }
}