<section class="col-xxl-12 ">
    <mat-card class="example-card" [ngClass]="{'reverse': invert == true}" >
        <img mat-card-image [src]="img" alt="" [style]="imgstyle">
        <img mat-card-image src="../../../assets/icons/logo_white.png" class="logo">

        @if (divider){
            <div class="divider"></div>
        }
        <div class="content">
            <mat-card-header>
                <mat-card-title-group>
                    @if(subtitle != ''){
                        <mat-card-subtitle><h4>{{subtitle}}</h4></mat-card-subtitle>
                    }
                    @if(title != ''){
                        <mat-card-title>
                            <h3>{{title}}</h3>
                        </mat-card-title>
                    }
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <app-text-container
                 [description]="description"
                 classStyle="text-card"
                 ></app-text-container>
        </mat-card-content>
        </div>
    </mat-card>
</section>