@defer (on viewport) {
<div class="row">
        <app-banner title="Transformación y Evolución" img="banner.png"
            description="Tecnología con la intención de mejorar el mundo en base a sistemas eficientes y con la calidad que merecen."
            labelButton="Descargar portafolio" (action)="download($event)">
        </app-banner>
</div>
<div class="row">
    <div class="col-xl-12 col-sm-12 col-md-12 title">
        <h3 class="title-3">Implementamos las mejores prácticas</h3>
        <p>de automatización y desarrollo de software para mejorar los niveles de calidad y generar valor más eficientemente</p>
    </div>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
<div class="row container">
    <div class="col-xl-12 col-sm-12 divider">
        <mat-divider></mat-divider>
    </div>
</div>
@defer (on viewport) {
    <div class="row container title-4 skills">
        <div class="col-xl-4 col-sm-12 col-md-12 col-xxl-4 skill-1">
            <h6>Tenemos <strong>experiencia</strong></h6>
        </div>
        <div class="col-xl-4 col-sm-12 col-md-12 col-xxl-4 skill-2">
            <h6><strong>Garantía</strong> y soporte al cliente</h6>
        </div>
        <div class="col-xl-4 col-sm-12 col-md-12 col-xxl-4 skill-3">
            <h6><strong>Skills</strong> técnicos fuertes</h6>
        </div>
    </div>

    <div class="row container skills-card">
        <div class="col-xl-4 col-sm-12 col-md-6 col-xxl-4">
            <app-card-simple icon="../../assets/icons/code.svg" title="Desarrollo de software" path="/services/software"
            description="Experticia en lenguajes de programación y adaptación a los frameworks que se requieran, orientados al clean-code y clean-architecture."
            ></app-card-simple>
        </div>
        <div class="col-xl-4 col-sm-12 col-md-6 col-xxl-4">
            <app-card-simple icon="../../assets/icons/Workflow.svg" title="DevSecOps" path="/services/devops"
            description="Automatizamos la infraestructura, aplicaciones, y procesos para permitir la evolución y entrega constante de software primando la calidad y seguridad."
            ></app-card-simple>
        </div>
        <div class="col-xl-4 col-sm-12 col-md-6 col-xxl-4">
            <app-card-simple icon="../../assets/icons/approval.svg" title="Automatización de la calidad del software" path="/services/automation"
            description="Skills en QA Automation, QA Manual, todo en un enfoque funcional y no funcional."
            ></app-card-simple>
        </div>
        <div class="col-xl-4 col-sm-12 col-md-6 col-xxl-4">
            <app-card-simple icon="../../assets/icons/shield.svg" title="IOT - Internet Of Things" path="/services/iot"
            description="Desarrollamos tecnología y construímos elementos para mejorar la calidad de vida y facilitar ambientes mas seguros y vigilados."
            ></app-card-simple>
        </div>
        <div class="col-xl-4 col-sm-12 col-md-6 col-xxl-4">
            <app-card-simple icon="../../assets/icons/Frame.svg" title="Observabilidad" path="/services/observability"
            description="En el dinámico mundo empresarial actual, la infraestructura juega un papel fundamental en el soporte y la habilitación de operaciones eficientes."
            ></app-card-simple>
        </div>
        <div class="col-xl-4 col-sm-12 col-md-6 col-xxl-4">
            <app-card-simple icon="../../assets/icons/server.svg" title="Ingenieria de datos" path="/services/data"
            description="En la era de la información, los datos son el activo más valioso de cualquier empresa. En T-Evolvers, nos sumergimos en el mundo de la Ingeniería de Datos."
            ></app-card-simple>
        </div>
    </div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
<div class="row container" id="clientes" #clientes>
    <div class="col-xl-12 col-sm-12 divider">
        <mat-divider></mat-divider>
    </div>
</div>
<div class="row container" >
    <div class="clientes">
        <h4>Algunas de las empresas que <strong>confían</strong> en <strong>nosotros.</strong></h4>
        <p>En T-Evolvers nos apasiona <strong>transformar y automatizar</strong> de manera única, con eficacia y velocidad el proceso software.
            <br>
             Transferir esa <strong>pasión de evolución</strong> a todos sus colaboradores es nuestra recompensa</p>
    </div>
    <app-swiper [images]="images"></app-swiper>
</div>
<div class="row container" >
    <div class="col-xl-12 col-sm-12 divider" id="we" #we>
        <mat-divider></mat-divider>
    </div>
</div>
<div class="row container">
    <h2>Nosotros</h2>
</div>
<div class="row container">
    <div class="col-xl-4 col-sm-12 col-md-6 we">
        <app-card-we icon="../../assets/icons/Vector.svg"
            title="Misión"
            [description]="[{text: 'En ', style: ''},
                {text: 'T-Evolvers, avanzamos la evolución tecnológica, ', style: 'blod'},
                {text: 'proporcionando soluciones personalizadas y líderes en la industria. ', style: ''},
                {text: 'Impulsamos el crecimiento ', style: 'blod'},
                {text: 'de nuestros clientes mediante desarrollo de software, DevOps y ', style: ''},
                {text: 'soluciones IoT innovadoras.', style: 'blod'}]"></app-card-we>
    </div>
    <div class="col-xl-4 col-sm-12 col-md-6 we">
        <app-card-we icon="../../assets/icons/Vector1.svg"
            title="Valores"
            [description]="[
                {text: 'Innovamos con excelencia, ', style: 'blod'},
                {text: 'colaboramos con integridad y adaptabilidad. Comprometidos con la ética, ', style: ''},
                {text: 'fomentamos un entorno de aprendizaje continuo, ', style: 'blod'},
                {text: 'priorizando la satisfacción del cliente y la responsabilidad social ', style: ''},
                {text: 'en cada acción.', style: 'blod'}]"></app-card-we>
    </div>
    <div class="col-xl-4 col-sm-12 col-md-6 we">
        <app-card-we icon="../../assets/icons/dimont.svg"
            title="Visión"
            [description]="[{text: 'En ', style: ''},
                {text: 'T-Evolvers, ', style: 'blod'},
                {text: 'buscamos ', style: ''},
                {text: 'liderar la transformación digital ', style: 'blod'},
                {text: 'como referente global. Nos proyectamos como pioneros en tecnologías de vanguardia, ', style: ''},
                {text: 'conectando un mundo más eficiente', style: 'blod'},
                {text: 'e innovador para nuestros clientes y comunidades. ', style: ''}]"></app-card-we>
    </div>
</div>
@defer (on viewport) {
<div class="row container">
    <div class="col-xl-12">
        <app-card-banner img="../../assets/images/cards/card1.png"
        title="Enfocados a los últimos estándares"
        subtitle="Automatización y Desarrollo"
        [description]="[{text:'Nacimos como una compañia que busca ', style: ''},
          {text:'conectar ideas en base a solucionar necesidades. ', style: 'blod'},
          {text:'las cuales son determinadas por análisis profundos en elección de ', style: ''},
          {text:'mejores estrategias, ', style: 'blod'},
          {text:'herramientas y procesos, entendiendo siempre el contexto del cliente y enlazarlo con la eficacia. Nuestra primera opción siempre será el OpenSource avalado por comunidad, ', style: ''},
          {text:'robustez, adherencia y complejidad.', style:'blod'}]"
          class="col-xl-12 col-sm-12 img-margin-top">
      
      </app-card-banner>
    </div>
  </div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}