@import "../../../settings/colors.scss";
@import "../../../settings/fonts.scss";

.title{
    h3{
        color: $blue-1;
        text-align: center;
        font-family: $titillium-font;
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 115%;
    }
    p{
        color: $gray-3;
        text-align: center;
        font-family: $heebo-font;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px;
    }
}
.container{
    margin: 10px 120px;
    h2{
        text-align: center;
    }
    .we{
        height: 481px;
    }
    .divider{
        display: flex;
        width: 100%;
        mat-divider{
            width: 100%;
            border-top-color: rgba(37, 41, 49, 0.20);
        }
    }
    .clientes{
        text-align: center;
        h4{
            color: $blue-1;
            text-align: center;
            font-family: $titillium-font;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px;
            strong{
                font-weight: 700;
            }
        }
        p{
            color: $gray-3;
            text-align: center;
            font-family: $heebo-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 33px;
            strong{
                font-weight: 700;
            }
        }
    }
}
.skills{
    h6{
        font-size: 24px;
        font-weight: 400;
        margin: 0;
        strong{
            font-weight: 700;
        }
    }
    .skill-1{
        text-align: right;
        padding-right: 32px;
    }
    .skill-2{
        text-align: center;
    }
    .skill-3{
        text-align: left;
        padding-left: 32px;
    }
}
.skills-card{
    margin-bottom: 64px;
}

@media screen and (max-width: 1200px) {
    .container{
     margin: 0;
     .we{
        font-size: 20px;
     }
    }
    .skills{
        text-align: center;
        .skill-1, .skill-2, .skill-3{
            text-align: center;
        }
    }
    .skills-card{
        margin-bottom: 30px;
    }
 }

 @media screen and (min-width: 1200px) {
    .container{
        margin: 30px 10%;
    }
 }
 .img-margin-top{
        .mat-mdc-card-image{
            object-position: 0 -100px;
        }
 }