@defer (on viewport) {
<div class="row">
    <app-banner 
        subtitle="Servicios" 
        title="Observabilidad" 
        img="https://res.cloudinary.com/dhmyzbp7j/image/upload/v1716261803/banner/banner-observabilidad_iq0tsb.png"
        description="En el dinámico mundo empresarial actual, la infraestructura juega un papel fundamental en el soporte y la habilitación de operaciones eficientes."
        >
    </app-banner>

</div>
<div class="row container">
    <div class="col-xl-12">
        <app-card-banner img="https://res.cloudinary.com/dhmyzbp7j/image/upload/v1716343751/cards/card-new3_suzlo0.png"
        [divider]="true"
        [description]="[
          {text:'En el corazón de cada empresa exitosa y digitalmente ágil yace un ', style: ''},
          {text:'monitoreo sólido ', style: 'blod'},
          {text:'y ', style: ''},
          {text:'soporte ', style: 'blod'},
          {text:'sobre su operación. En ', style: ''},
          {text:'T-Evolvers, ', style: 'blod'},
          {text:'elevamos el juego al ofrecer talentos con conocimientos en Observabilidad enfocados al SRE para potenciar los 3 pilares como lo son:', style: ''},
          {text:' Metricas, Trazas y Logs. ', style: 'blod'},
          {text:'Se deben tener ojos de lo que pasa en entornos productivos, sabiendo lo que ingresa y lo que sale por nuestros sistemas para permitir actuar de manera ', style: ''},
          {text:'predictiva ', style: 'blod'},
          {text:'y por último reactiva a eventualidades que puedan surgir en nuestra Producción. Impulsamos la Observabilidad como parta de la ', style: ''},
          {text:'excelencia operativa ', style: 'blod'},
          {text:'que deberian tener las compañias que centran sus soluciones en el cliente', style: ''}
          ]"
        >
      </app-card-banner>
    </div>
</div>
<div class="row  container title-2">
    <h4>Equipos con toda la capacidad y experiencia para resolver retos en:</h4>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
@defer (on viewport) {
<div class="row container">
    <div class="col-xl-4 col-sm-12 col-md-6 card">
        <app-card-simple icon="../../assets/images/logo-blue.svg"
         title="Diseño, implementación y puesta a Producción de soluciones para Observabilidad"
            description="Arquitectura, definición e implementación de soluciones que permitan apalancar las Métricas, Trazas y Logs, con plataformas opensource o licenciadas según los lineamientos de las organizaciones."
            [backgroundImage]="false"></app-card-simple>
    </div>
    <div class="col-xl-4 col-sm-12 col-md-6 card">
        <app-card-simple icon="../../assets/images/logo-blue.svg"
         title="Observabilidad en los clusters de kubernetes o contenerizaciones"
            description="Muchos equipos de TI se centran en monitorear las aplicaciones, pero ahora con el auge de los contenedores, es vital monitorear los cluster que internamente ejecutan kubernetes, T-Evolvers te ayuda a tener ojos en todo lo relacionado con recursos de contenerización."
            [backgroundImage]="false"></app-card-simple>
    </div>
    <div class="col-xl-4 col-sm-12 col-md-6 card">
        <app-card-simple icon="../../assets/images/logo-blue.svg"
         title="Dashboards de visualización"
            description="En T-Evolvers comprendemos lo importante de poder visualizar de manera clara, eficiente, fácil y oportuna toda la información que se recolectó en el proceso de observabilidad, para con esto dar el mejor soporte, alertamiento y demás. Te ayudamos a implementar Dashboards personalizados enfocados al area operativa tanto del negocio como de TI."
            [backgroundImage]="false"></app-card-simple>
    </div>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
@defer (on viewport){
    <div class="row container content-swiper">
        <div class="row container">
            <h3 class="title-3">Tus soluciones en las tecnologías y partners líderes del mercado.</h3>   
        </div>
    
        <div class="row container" id="clientes">
            <app-swiper [images]="images"></app-swiper>
        </div>

    </div>

}@placeholder{
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
    
}

@defer (on viewport) {
<div class="row container">
    <div class="col-xl-6 col-sm-12 col-md-6 col-xxl-4 cards">
        <app-card-info img="https://res.cloudinary.com/dhmyzbp7j/image/upload/v1716259800/cards/card25_ja2eeq.png"
        title="Infraestructura Continua"
        subtitle="Arquitectos de Infraestructura Continua"
        [description]="[{text:'Diseñamos infraestructuras que no solo siguen el ritmo de tu crecimiento, sino que lo anticipan. Nuestros arquitectos aseguran que tu infraestructura esté siempre lista para enfrentar los desafíos del mañana.', style: ''},
           ]"
            ></app-card-info>
    </div>
    <div class="col-xl-6 col-sm-12 col-md-6 col-xxl-4 cards">
        <app-card-info img="https://res.cloudinary.com/dhmyzbp7j/image/upload/v1716259801/cards/card26_ofrzrc.png"
        title="Escalabilidad y Rendimiento"
        subtitle="Especialistas en Escalabilidad y Rendimiento"
        [description]="[{text:'Nuestra magia está en la escalabilidad sin esfuerzo. Tus sistemas no solo funcionarán, sino que brillarán incluso en los momentos más intensos, garantizando una experiencia del usuario sin contratiempos.', style: ''}]"
            ></app-card-info>
    </div>
    <div class="col-xl-6 col-sm-12 col-md-6 col-xxl-4 cards">
        <app-card-info img="https://res.cloudinary.com/dhmyzbp7j/image/upload/v1716259801/cards/card27_nhtsyt.png"
        title="Gestión de Configuración de Infraestructura"
        subtitle="Arquitectos de Gestión de Configuración de Infraestructura"
        [description]="[{text:'Damos vida a la consistencia y confiabilidad. Con la gestión de configuración de infraestructura como nuestro lema, cada cambio es un paso hacia adelante, sin sorpresas indeseadas.', style: ''}]"
            ></app-card-info>
    </div>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}