<div class="row">
    <app-card-banner img="../../assets/images/img25.png"
    [divider]="true"
    [description]="[{text:'En el corazón de cada empresa exitosa y digitalmente ágil yace una ', style: ''},
      {text:'infraestructura sólida e innovadora. ', style: 'blod'},
      {text:'En ', style: ''},
      {text:'T-Evolvers, ', style: 'blod'},
      {text:'elevamos el juego al ofrecer servicios de Infraestructura diseñados para ', style: ''},
      {text:'potenciar su crecimiento y optimizar su rendimiento.', style: 'blod'},
      {text:'Desde la construcción de redes impenetrables hasta la gestión proactiva de servidores, nuestro equipo de expertos se especializa en ', style: ''},
      {text:'crear cimientos tecnológicos', style: 'blod'},
      {text:'que impulsan la', style: ''},
      {text:'excelencia operativa.', style: 'blod'}
      ]"
      class="col-xl-12 col-sm-12">
  
  </app-card-banner>
</div>
<div class="row title-2">
    <h3>Equipos con toda la capacidad y experiencia para resolver retos en:</h3>
</div>
<div class="row container">
    <div class="col-xl-4 col-sm-12 col-md-6 card">
        <app-card-simple icon="../../assets/images/logo-blue.svg"
         title="Construcción de Plataformas Tecnológicas Escalables"
            description="Diseño y desarrollo de infraestructuras tecnológicas que pueden crecer y adaptarse según las necesidades de su empresa, garantizando la escalabilidad a largo plazo."
            [backgroundImage]="false"></app-card-simple>
    </div>
    <div class="col-xl-4 col-sm-12 col-md-6 card">
        <app-card-simple icon="../../assets/images/logo-blue.svg"
         title="Seguridad Informática Integral"
            description="Implementación de medidas de seguridad avanzadas para salvaguardar la integridad y confidencialidad de los datos, incluyendo firewalls, detección de intrusiones y protocolos de cifrado."
            [backgroundImage]="false"></app-card-simple>
    </div>
    <div class="col-xl-4 col-sm-12 col-md-6 card">
        <app-card-simple icon="../../assets/images/logo-blue.svg"
         title="Administración Eficiente de Servidores"
            description="Gestión proactiva de servidores, asegurando un rendimiento óptimo, actualizaciones regulares y respuestas efectivas a las demandas del entorno empresarial."
            [backgroundImage]="false"></app-card-simple>
    </div>
</div>
<div class="row container">
    <div class="col-xl-6 col-sm-12">
        <app-card-info img="../../assets/images/img26.png"
        title="Infraestructura Continua"
        subtitle="Arquitectos de Infraestructura Continua"
        [description]="[{text:'Diseñamos infraestructuras que no solo siguen el ritmo de tu crecimiento, sino que lo anticipan. Nuestros arquitectos aseguran que tu infraestructura esté siempre lista para enfrentar los desafíos del mañana.', style: ''},
           ]"
            ></app-card-info>
    </div>
    <div class="col-xl-6 col-sm-12">
        <app-card-info img="../../assets/images/img27.png"
        title="Escalabilidad y Rendimiento"
        subtitle="Especialistas en Escalabilidad y Rendimiento"
        [description]="[{text:'Nuestra magia está en la escalabilidad sin esfuerzo. Tus sistemas no solo funcionarán, sino que brillarán incluso en los momentos más intensos, garantizando una experiencia del usuario sin contratiempos.', style: ''}]"
            ></app-card-info>
    </div>
</div>
<div class="row container">
    <div class="col-xl-6 col-sm-12">
        <app-card-info img="../../assets/images/img28.png"
        title="Gestión de Configuración de Infraestructura"
        subtitle="Arquitectos de Gestión de Configuración de Infraestructura"
        [description]="[{text:'Damos vida a la consistencia y confiabilidad. Con la gestión de configuración de infraestructura como nuestro lema, cada cambio es un paso hacia adelante, sin sorpresas indeseadas.', style: ''}]"
            ></app-card-info>
    </div>
</div>