
$blue-1: #243453;
$blue-2: #0091BC;
$blue-3: #2EACBE;
$blue-4: #0090BB;

$gray-1: #F1F5F8;
$gray-2:  #ECECEC;
$gray-3: #3E3E3E;
$gray-4: #211D1A;
$gray-5: #9B9B9B;
$gray-6: #2F2F2F;
$gray-7: #424242;
$gary-8: #25221F;
 

