@defer (on viewport) {
<div class="row">
    <app-banner 
        subtitle="Servicios" 
        title="DevOps" 
        img="https://res.cloudinary.com/dhmyzbp7j/image/upload/v1716261801/banner/banner-devops_aiypuf.png"
        description="Automatizamos la infraestructura, aplicaciones, y procesos para permitir la evolución y entrega constante de software primando la calidad y seguridad."
        >
    </app-banner>

</div>
<div class="row container">
    <div class="col-xl-12">
        <app-card-banner img="https://res.cloudinary.com/dhmyzbp7j/image/upload/v1716259795/cards/card14_iniov7.png"
        [divider]="true"
        [description]="[{text:'Ofrecemos  ', style: ''},
          {text:'Ingenieros de Software con experiencia  ', style: 'blod'},
          {text:'y capacidades de inmersión en equipos que promuevan DevSecOps como un habilitador de buenas prácticas, métricas, mejoramiento de procesos y por sobretodo, ', style: ''},
          {text:'generación de valor al negocio ', style: 'blod'},
          {text:'por medio de entregas ágiles, seguras y oportunas, generando tranquilidad con resiliencia, feedback oportuno y control de lineamientos empresariales.', style: ''},
          ]"
          >
      
        </app-card-banner>
    </div>
</div>
<div class="row container title-2">
    <h3>Equipos con toda la capacidad y experiencia para resolver retos en:</h3>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
@defer (on viewport) {
<div class="row container">
    <div class="col-xl-4 col-sm-12 col-md-6 card">
        <app-card-simple icon="../../assets/images/logo-blue.svg"
         title="Integración Continua (CI)"
            description="Nuestra CI va más allá de la simple automatización. Implementamos pipelines robustos que garantizan la calidad del código en cada fase del desarrollo, asegurando entregas más rápidas y libres de errores."
            [backgroundImage]="false"></app-card-simple>
    </div>
    <div class="col-xl-4 col-sm-12 col-md-6 card">
        <app-card-simple icon="../../assets/images/logo-blue.svg"
         title="Despliegue Continuo (CD)"
            description="Imagina liberar nuevas características en minutos, no en días. Con CD, creamos flujos de trabajo automatizados que llevan su código desde la compilación hasta la producción sin esfuerzo, asegurando despliegues rápidos y consistentes."
            [backgroundImage]="false"></app-card-simple>
    </div>
    <div class="col-xl-4 col-sm-12 col-md-6 card">
        <app-card-simple icon="../../assets/images/logo-blue.svg"
         title="Automatización de Infraestructura"
            description="Transformamos la gestión de infraestructuras con herramientas líderes. Desde la implementación hasta la escalabilidad automática, cada aspecto de su infraestructura es gestionado como código, garantizando una base sólida y fácilmente escalable."
            [backgroundImage]="false"></app-card-simple>
    </div>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
@defer (on viewport){
    <div class="row container content-swiper">
        <div class="row container">
            <h3 class="title-3">Tus soluciones en las tecnologías y partners líderes del mercado.</h3>   
        </div>
    
        <div class="row container" id="clientes">
            <app-swiper [images]="images"></app-swiper>
        </div>
        
    </div>
}@placeholder{
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
@defer (on viewport) {
<div class="row container">
    <div class="col-xl-6 col-sm-12 cards">
        <app-card-info img="https://res.cloudinary.com/dhmyzbp7j/image/upload/v1716259795/cards/card15_ahng1e.png"
        title="Integración Continua (CI)"
        subtitle="Ingenieros de Integración Continua (CI)"
        [description]="[{text:'Estos maestros del pipeline son responsables de diseñar y mantener flujos de trabajo de CI eficientes. Su objetivo es acelerar la entrega al garantizar la calidad del código en cada etapa del desarrollo.', style: ''},
           ]"
            ></app-card-info>
    </div>
    <div class="col-xl-6 col-sm-12 cards">
        <app-card-info img="https://res.cloudinary.com/dhmyzbp7j/image/upload/v1716259796/cards/card16_x5eeis.png"
        title="Despliegue Continuo (CD)"
        subtitle="Arquitectos de Despliegue Continuo (CD)"
        [description]="[{text:'Nuestros arquitectos CD son los visionarios detrás de despliegues rápidos y confiables. Diseñan flujos de trabajo automatizados para llevar nuevas funciones desde la compilación hasta la producción sin problemas.', style: ''}]"
            ></app-card-info>
    </div>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}
@defer (on viewport) {
<div class="row container">
    <div class="col-xl-6 col-sm-12 cards">
        <app-card-info img="https://res.cloudinary.com/dhmyzbp7j/image/upload/v1716259796/cards/card17_l4qvdy.png"
        title="Automatización de Infraestructura"
        subtitle="Especialistas en Automatización de Infraestructura"
        [description]="[{text:'Estos profesionales transforman su infraestructura en un activo ágil. Utilizando herramientas líderes, automatizan desde la implementación hasta la escalabilidad, garantizando una infraestructura robusta y fácilmente adaptable.', style: ''}]"
            ></app-card-info>
    </div>
</div>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
}