@import "../../../settings/colors.scss";


mat-card{
    background-color: white;
    border-radius: 30px;
    max-width: 366px;
    min-height: 399px;
    padding: 16px;
    .icon{
        display: flex;
        align-items: center;
        color: $blue-1;
        img{
            color: $blue-1;
            width: 48.28px;
            height: 48.35px;
        }
        h4{
            margin-left: 14.72px;
            font-size: 24px;
            margin-bottom: 0;
        }
    }
    mat-card-content{
        margin-top: 37.65px;
        color: $gray-5;
       
    }
}
mat-card:hover{
    background-color: $blue-1;
    box-shadow: 0px 7px 84px 0px #243453;
    .icon{
        color: white;
        img{
            filter: brightness(800%) saturate(0%);
        }
    }
    mat-card-content{
        color: white;
    }
}