<section>
    <mat-card class="example-card" [ngClass]="style == 'blue' ? 'blue' : 'light'">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>
                <div class="icon">
                    <img [src]="icon" alt="">
                    <h4>{{title}}</h4>
                </div>
            </mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <app-text-container [description]="description"
            classStyle="text"></app-text-container>
        </mat-card-content>
    </mat-card>
</section>