/* You can add global styles to this file, and also import other style files */
@import "./settings/fonts.scss";
@import "./settings/colors.scss";


html, body { height: 100%; }
body { margin: 0;}


p{
    font-family: $heebo-font;
    font-size: 19px;
    line-height: 33px;
    font-weight: 400;
}

h1, h2, h3,h4,h5 {
    font-family:  $titillium-font;
}

h1{
    font-size: 67px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.5px;
}

h2{
    font-size: 67px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.5px;
}
.text-card{
    
        strong{
            font-size: 23px;
            font-family: $titillium-font;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
            color: $gray-6;
        }
        span{
            font-family: $titillium-font;
            font-size: 23px;
            font-style: normal;
            font-weight: 300;
            line-height: 44px;
            color: $gray-6;
        }
    
}
.text{
    strong{
        font-size: 18px;
        font-family: $titillium-font;
        font-style: normal;
        font-weight: 700;
        line-height: 33px;
        
    }
    span{
        font-family: $titillium-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 33px;
    }
   
}
.footer-text{
    strong{
        color: #FFF;
        font-family: $titillium-font;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
    }
    span{
        color: #FFF;
        font-family: $titillium-font;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 48px; 
    }
}

.title-2{
  color: $blue-1;
  text-align: center;
  font-family: $titillium-font;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.title-3{
  color: $blue-1;
  text-align: center;
  font-family: $titillium-font;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.title-4{
  color: $gray-4;
  text-align: center;
  font-family: $titillium-font;
  font-size: 24px !important;
  font-weight: 400;
  line-height: normal;
}

[class*="col-"] {
  height: 100%;
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
* {
    box-sizing: border-box;
  }

@media only screen and (max-width: 767px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
  
    .footer {
      height: 100px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 1200px) {
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
  }

  @media only screen and (min-width: 1500px) {
    .col-xxl-1 {width: 8.33%;}
    .col-xxl-2 {width: 16.66%;}
    .col-xxl-3 {width: 25%;}
    .col-xxl-4 {width: 33.33%;}
    .col-xxl-5 {width: 41.66%;}
    .col-xxl-6 {width: 50%;}
    .col-xxl-7 {width: 58.33%;}
    .col-xxl-8 {width: 66.66%;}
    .col-xxl-9 {width: 75%;}
    .col-xxl-10 {width: 83.33%;}
    .col-xxl-11 {width: 91.66%;}
    .col-xxl-12 {width: 100%;}
  }
  
  
  img { max-width: 100%; height: auto; }
  video {
    max-width: 100%;
    height: auto;
  }
  