/* You can add global styles to this file, and also import other style files */
@import "./settings/fonts.scss";


html, body { height: 100%; }
body { margin: 0;}

p{
    font-family: $heebo-font;
    font-size: 18px;
    line-height: 33px;
    width: 400;
}

h1, h2, h3,h4,h5 {
    font-family:  $titillium-font;
}

h1{
    font-size: 67px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.5px;
}

h2{
    font-size: 67px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.5px;
}