<div class="container">
    <header>
        <h2 class="title">¡Atención!</h2>
    </header>
    <section class="content">
        <p>Estás saliendo de t-evolvers.com</p>
        <p>Serás dirigido a nuestro portal Magneto para conocer nuestras ofertas, registrar tu hoja de vida y conocer el
            estado de tu postulación,
        </p>
        <p>¡todo en un solo lugar!</p>
    </section>
    <div class="action-buttons">
        <button class="btn-close" mat-flat-button mat-dialog-close>Cerrar</button>
        <button class="btn-next" mat-flat-button mat-dialog-close (click)="goJobsPortal()">Continuar</button>
    </div>
</div>